#mynetwork{
}


#node-popUp {
  display: none;
  position: relative;
  z-index: 299;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

#edicion-estado{
  display: none;
  position: relative;
  z-index: 299;
  padding: 10px;
  margin-bottom: -100px;
  margin-top: 50px;
  text-align: left;
  width: 200px;
}


canvas{
  background-color: #9EC7DD;
}


.dropdown .dropdown-menu{
  display: block;
  position: relative;
  max-height: 300px;
}

ng-multiselect-dropdown .dropdown-list {
   position: relative!important;
   margin-top: 0px!important;
}

ng-multiselect-dropdown .dropdown-btn{
  background-color: white;
}

ng-multiselect-dropdown .dropdown-btn span{
  color: gray;
}

ng-multiselect-dropdown .dropdown-btn .selected-item{
  border: 1px solid gray!important;
  border-radius: .25rem!important;
  background-color: white!important;
  color: black!important;
  padding-left: 12px!important;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  font-size: 14px!important;
}

ng-multiselect-dropdown .dropdown-btn a{
  color: gray!important;
  font-size: 18px!important;
  line-height: .75!important;
}
