<!-- Botones -->
<div id="buttons" class="mb-2">
  <button class="btn btn-secondary btn-sm mx-1" (click)="ramaTareaPadre()"  *ngIf="tareaPadre!=null"><i class="fa fa-chevron-left"></i> {{tareaPadre.titulo}}</button>
  <button class="btn btn-light btn-sm mx-1" (click)="imprimirRama()"><i class="fa fa-save"></i> Guardar Rama</button>
  <button class="btn btn-success btn-sm mx-1" (click)="desplegarSubTareas()" *ngIf="!desplegarSubtareas else cerrarSubtareas">Desplegar Subtareas</button>
  <ng-template #cerrarSubtareas>
    <button class="btn btn-danger btn-sm mx-1" (click)="desplegarSubTareas()">Cerrar Subtareas</button>
  </ng-template>
</div>


<!-- Formulario creación tarea -->
<div id="node-popUp">
  <h3 id="node-operation" class="text-center">node</h3>
  <form #tareaForm="ngForm" novalidate>
    <table class="table card-table table-bordered table-striped text-dark">
      <thead>
        <tr>
          <th class="text-center" style="width: 25%;">Titulo</th>
          <th class="text-center" style="width: 25%;">FechaMax</th>
          <th class="text-center" style="width: 25%;">Departamento</th>
          <th class="text-center" style="width: 25%;">Usuarios</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input id="node-label" type="text" class="form-control text-dark" [(ngModel)]="editTarea.titulo" [placeholder]="'Introduzca el título'" name="titulo" required maxlength="50" #titulo="ngModel">
            <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
              <div *ngIf="titulo.errors.required">
                Titulo es requerido.
              </div>
              <div *ngIf="titulo.errors.maxlength">
                Titulo debe tener como máximo 50 caracteres.
              </div>
            </div>
          </td>
          <td>
            <input id="node-fechaMax" type="date" class="form-control text-dark" [(ngModel)]="editTarea.fechaMax" name="fechaMax" required #fechaMax="ngModel">
            <div class="alert alert-danger" *ngIf="fechaMax.invalid && (fechaMax.dirty || fechaMax.touched)">
              <div *ngIf="fechaMax.errors.required">
                Fecha Máxima es requerida.
              </div>
            </div>
          </td>
          <td>
            <select id="node-sector" class="form-control text-dark" [(ngModel)]="editTarea.sector.id" name="sector" required #sector="ngModel">
              <option *ngFor="let sector of sectores" [value]="sector.id">{{sector.sector}}</option>
            </select>
          </td>
          <td>
            <ng-multiselect-dropdown
              name = "usuarios"
              [placeholder]="'Seleccione los usuarios'"
              [data]="usuarios"
              [(ngModel)]="editTarea.usuarios"
              [settings]="usuariosSettings">
            </ng-multiselect-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <button id="node-saveButton" class="btn btn-sm btn-success" [disabled]="!tareaForm.form.valid">Guardar</button>
  <button id="node-cancelButton" class="btn btn-sm btn-danger">Cancelar</button>
</div>

<!-- Botón modificar estado -->
<div id="edicion-estado">
  <button class="btn btn-secondary" role="button" *ngIf="editTarea.estado=='Pendiente'" disabled>No disponible</button>
  <button class="btn btn-success" role="button" *ngIf="editTarea.estado=='Disponible'" (click)="empezarTarea()">Empezar tarea</button>
  <button class="btn btn-warning" role="button" *ngIf="editTarea.estado=='enProceso' && hasSubTareas" disabled>En proceso</button>
  <button class="btn btn-danger" role="button" *ngIf="editTarea.estado=='enProceso' && !hasSubTareas" (click)="finalizarTarea()">Finalizar tarea</button>
  <button class="btn btn-danger" role="button" *ngIf="editTarea.estado=='Finalizada'" disabled>Tarea finalizada</button>
</div>

<!-- Visualización -->
<div id="mynetwork" class="border rounded border-dark">
</div>

<!-- Leyenda -->
<div class="font-weight-bold d-inline">
  <div class="d-inline">Leyenda: </div>
  <select id="actual" class="d-inline form-control font-weight-bold mx-2" style="width: 15%;" [style.color]="leyenda.actual" (change)="cambiarLeyenda('actual')">
    <option value="azul" class="font-weight-bold" [style.color]="colores.azul.background" selected>Actual</option>
    <option value="gris" class="font-weight-bold" [style.color]="colores.gris.background">Actual</option>
    <option value="verde" class="font-weight-bold" [style.color]="colores.verde.background">Actual</option>
    <option value="amarillo" class="font-weight-bold" [style.color]="colores.amarillo.background">Actual</option>
    <option value="rojo" class="font-weight-bold" [style.color]="colores.rojo.background">Actual</option>
  </select>
  <select id="pendiente" class="d-inline form-control font-weight-bold mx-2" style="width: 15%;" [style.color]="leyenda.pendiente.background" (change)="cambiarLeyenda('pendiente')">
    <option value="azul" class="font-weight-bold" [style.color]="colores.azul.background">Pendiente</option>
    <option value="gris" class="font-weight-bold" [style.color]="colores.gris.background" selected>Pendiente</option>
    <option value="verde" class="font-weight-bold" [style.color]="colores.verde.background">Pendiente</option>
    <option value="amarillo" class="font-weight-bold" [style.color]="colores.amarillo.background">Pendiente</option>
    <option value="rojo" class="font-weight-bold" [style.color]="colores.rojo.background">Pendiente</option>
  </select>
  <select id="disponible" class="d-inline form-control font-weight-bold mx-2" style="width: 15%;" [style.color]="leyenda.disponible.background" (change)="cambiarLeyenda('disponible')">
    <option value="azul" class="font-weight-bold" [style.color]="colores.azul.background">Disponible</option>
    <option value="gris" class="font-weight-bold" [style.color]="colores.gris.background">Disponible</option>
    <option value="verde" class="font-weight-bold" [style.color]="colores.verde.background" selected>Disponible</option>
    <option value="amarillo" class="font-weight-bold" [style.color]="colores.amarillo.background">Disponible</option>
    <option value="rojo" class="font-weight-bold" [style.color]="colores.rojo.background">Disponible</option>
  </select>
  <select id="enProceso" class="d-inline form-control font-weight-bold mx-2" style="width: 15%;" [style.color]="leyenda.enProceso.background" (change)="cambiarLeyenda('enProceso')">
    <option value="azul" class="font-weight-bold" [style.color]="colores.azul.background">EnProceso</option>
    <option value="gris" class="font-weight-bold" [style.color]="colores.gris.background">EnProceso</option>
    <option value="verde" class="font-weight-bold" [style.color]="colores.verde.background">EnProceso</option>
    <option value="amarillo" class="font-weight-bold" [style.color]="colores.amarillo.background" selected>EnProceso</option>
    <option value="rojo" class="font-weight-bold" [style.color]="colores.rojo.background">EnProceso</option>
  </select>
  <select id="finalizada" class="d-inline form-control font-weight-bold mx-2" style="width: 15%;" [style.color]="leyenda.finalizada.background" (change)="cambiarLeyenda('finalizada')">
    <option value="azul" class="font-weight-bold" [style.color]="colores.azul.background">Finalizada</option>
    <option value="gris" class="font-weight-bold" [style.color]="colores.gris.background">Finalizada</option>
    <option value="verde" class="font-weight-bold" [style.color]="colores.verde.background">Finalizada</option>
    <option value="amarillo" class="font-weight-bold" [style.color]="colores.amarillo.background">Finalizada</option>
    <option value="rojo" class="font-weight-bold" [style.color]="colores.rojo.background" selected>Finalizada</option>
  </select>
</div>
