
#node-popUp {
  display: none;
  position: relative;
  z-index: 299;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

#edicion-estado{
  display: none;
  position: relative;
  z-index: 299;
  padding: 10px;
  margin-bottom: -100px;
  margin-top: 50px;
  text-align: left;
  width: 200px;
}
