.dropdown .dropdown-menu{
  display: block;
  position: relative;
  max-height: 300px;
}

tree-select .dropdown .btn-secondary{
  background-color: white;
  padding-left: 12px;
}

tree-select .selected-item-item{
  border: gray 1px solid;
}

tree-select .selected-item-text{
  color: #343a40;
}
