<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header" *ngIf="!tarea.id else tituloBlock">{{tituloCrear}}</div>
  <ng-template #tituloBlock>
    <div class="card-header d-flex">{{tituloEditar}}<button class="btn btn-sm btn-success ml-auto" [routerLink]="['/tareas/rama', tarea.id]">Mostrar Rama</button></div>
  </ng-template>
  <div class="card-body">

    <form #tareaForm="ngForm">
      <div class="form-group row">
        <label for="titulo" class="col-form-label col-sm-2">Título</label>
        <div class="col-sm-8">
          <input type="text" class="form-control text-dark" [(ngModel)]="tarea.titulo" [placeholder]="'Introduzca el título'" name="titulo" required maxlength="50" #titulo="ngModel">
          <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
            <div *ngIf="titulo.errors.required">
              Titulo es requerido.
            </div>
            <div *ngIf="titulo.errors.maxlength">
              Titulo debe tener como máximo 50 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
        <div class="col-sm-8">
          <textarea type="text" class="form-control text-dark" [(ngModel)]="tarea.descripcion" [placeholder]="'Introduzca la descripción'" name="descripcion" rows="2"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="fechaMax" class="col-form-label col-sm-2">Fecha Máxima</label>
        <div class="col-sm-8">
          <input type="date" class="form-control text-dark" [(ngModel)]="tarea.fechaMax" name="fechaMax" required #fechaMax="ngModel">
          <div class="alert alert-danger" *ngIf="fechaMax.invalid && (fechaMax.dirty || fechaMax.touched)">
            <div *ngIf="fechaMax.errors.required">
              Fecha Máxima es requerida.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="espacio" class="col-form-label col-sm-2">Espacio</label>
        <div class="col-sm-8">
          <input type="text" class="form-control text-dark" [(ngModel)]="tarea.espacio" [placeholder]="'Introduzca el espacio'" name="espacio">
        </div>
      </div>

      <div class="form-group row">
        <label for="sector" class="col-form-label col-sm-2">Departamento</label>
        <div class="col-sm-8">
          <select class="form-control text-dark" [(ngModel)]="tarea.sector.id" name="sector" required #sector="ngModel">
            <option *ngFor="let sector of sectores" [value]="sector.id">{{sector.sector}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="tareaPadre" class="col-form-label col-sm-2">Tarea padre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control text-dark" [(ngModel)]="tarea.tareaPadre.titulo" disabled="true" [placeholder]="'No tiene tarea padre'" name="tareaPadre">
        </div>
        <div class="col-sm-2 d-flex">
          <button class="btn btn-sm btn-success ml-auto" role="button" (click)='crearNetwork()' *ngIf="!isNetwork else elseButton">Elegir</button>
          <ng-template #elseButton>
            <button class="btn btn-sm btn-secondary ml-auto" role="button" (click)='destroyNetwork()'>Ocultar</button>
          </ng-template>
        </div>
        <div class="col-sm-8 offset-sm-2 bg-white mt-2 border border-primary py-1 d-flex rounded-top" *ngIf="isNetwork">
          <button class="btn btn-sm bg-primary text-white" (click)="ramaTareaPadre()"><i class="fa fa-chevron-left"></i></button>
          <button class="btn btn-sm btn-primary ml-2" role="button" (click)='seleccionarTareaPadre()'>Seleccionar</button>
          <button class="btn btn-sm btn-primary ml-2" role="button" (click)='abrirSubtareas()'>Abrir subtareas</button>
          <button class="btn btn-sm btn-primary ml-auto" role="button" (click)='vaciarTareaPadre()'>Vaciar</button>
        </div>
        <div id="mynetwork" class="col-sm-8 offset-sm-2 bg-white text-dark border border-dark border-top-0 rounded-bottom"></div>


        <!--<div class="col-sm-8">
          <select class="form-control text-dark" [(ngModel)]="tarea.tareaPadre.id" (change)="cargarRamaTareas()" name="tareaPadre">
            <option *ngFor="let tareaPadre of tareasPadre" [value]="tareaPadre.id">{{tareaPadre.titulo}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" role="button" (click)='vaciarTareaPadre()'>Vaciar</button>
        </div>-->
      </div>

      <div class="form-group row">
        <label for="tareasPrecedentes" class="col-form-label col-sm-2">Tareas Precedentes</label>
        <div class="col-sm-8">
          <ng-multiselect-dropdown class="text-dark"
          [placeholder]="'Seleccione las tareas precedentes'"
          name="tareasPrecedentes"
          [data]="tareasPrecedentes"
          [(ngModel)]="tarea.tareasPrecedentes"
          [settings]="selectTareasPrecedentes"
          (onSelect)="onTareaSelect($event)"
          (onDeSelect)="onItemDeSelect($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!tarea.id else elseBlock" [disabled]="!tareaForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!tareaForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
