
  <div class="card border-dark">
    <div class="card-header">
      <h5 class="card-title my-2">Listado de tareas</h5>
    </div>
    <div class="card-body text-dark">
    <div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button class="nav-link" style="outline: none" (click)="mostrarTareas(false)" [ngClass]="{active: !mostrarTodas}" >Mis Tareas</button>
          </li>
          <li class="nav-item" *ngIf="authService.isAdmin()">
            <button class="nav-link" style="outline: none" (click)="mostrarTareas(true)" [ngClass]="{active: mostrarTodas}" >Todas</button>
          </li>
        </ul>
      </div>

      <mat-paginator [length]="tareas.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
      (page)="handlePage($event)" class="paginacion"></mat-paginator>

      <div class="mb-3 ml-0">
        <div class="row form-group">
          <label for="busqueda" class="col-form-label col-2">Búsqueda: </label>
          <input id="busqueda" type="text" class="form-control col-4" name="busqueda" placeholder="Título o Descripción">
        </div>
        <div class="row form-group">
          <label for="estado" class="col-form-label col-2">Estado: </label>
          <select id="estado" class="form-control col-2" name="estado">
            <option value="Todos">Todos</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Disponible">Disponible</option>
            <option value="enProceso">En proceso</option>
            <option value="Finalizada">Finalizada</option>
          </select>
        </div>
        <div class="row form-group">
          <button class="btn btn-primary col-1 mx-3 form-control" role="button" (click)="busqueda()">Buscar</button>
        </div>
      </div>

      <div *ngIf="tareas?.length == 0" class="alert alert-info">
          No se han encontrado tareas.
      </div>

      <table class="table card-table table-bordered table-striped" *ngIf="tareas?.length>0">
        <thead>
          <tr>
            <th class="text-center">Titulo</th>
            <th class="text-center">Descripción</th>
            <th class="text-center" (click)="ordenarFecha()">Fecha Máxima <i class="fa fa-sort-asc" *ngIf="sortAscFecha else sortDesc"></i><ng-template #sortDesc><i class="fa fa-sort-desc"></i></ng-template></th>
            <th class="text-center">Espacio</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas | paginacion:page_size:page_number">
            <td class="text-center"><a [routerLink]="['/tareas/form', tarea.id]">{{tarea.titulo}}</a></td>
            <td class="text-center">{{tarea.descripcion}}</td>
            <td class="text-center">{{tarea.fechaMax | date: "shortDate"}}</td>
            <td class="text-center">{{tarea.espacio}}</td>
            <td class="text-center">{{tarea.estado}}</td>
            <td class="text-center">
              <button type="button" name="button" (click)='guardarPlantilla(tarea)' class="btn btn-success btn-sm" *ngIf="authService.isAdmin()">Guardar como plantilla</button>
            </td>
            <td class="text-center">
              <button type="button" name="button" (click)='delete(tarea)' class="btn btn-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
