<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/tareas">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2">
        <div class="btn-group" routerLinkActive="active">
          <a class="nav-link" routerLink="/tareas">Tareas</a>
          <a class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu">
            <a class="dropdown-item"routerLink="/tareas/form">Crear Tarea</a>
            <a class="dropdown-item" routerLink="/tareas/rama">Ramas de tareas</a>
          </div>
        </div>
      </li>
    </ul>

    <div class="navbar-nav">
      <div class="nav-item mx-2" routerLinkActive="active" *ngIf="authenticationService.isAdmin()">
        <a class="nav-link" routerLink="/settings"><i class="fa fa-gear fa-lg"></i></a>
      </div>
      <div class="nav-item mx-2" routerLinkActive="active" *ngIf="authenticationService.isUserLoggedIn()">
        <div class="btn-group" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/usuarios/form', usuarioLogged.id]"><i  class="fa fa-user fa-fw fa-lg"></i></a>
          <a class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu mx-auto" style="left: -67px;">
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
