/* You can add global styles to this file, and also import other style files */
html{
  position:relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
     table {
       display: block;
       overflow-x: auto;
     }
}

.paginacion{
  font-size: 14px;
  color: #333;
}
