
  <div class="card border-dark">
    <div class="card-header">
      <h5 class="card-title my-2">Listado de tareas</h5>
    </div>
    <div class="card-body text-dark">


      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link active" href="/tareas/mistareas">Mis Tareas</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" href="/tareas/todas">Todas</button>
        </li>
      </ul>

      <table class="table card-table table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Email</th>
            <th class="text-center">Sector</th>
            <th class="text-center">Roles</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>
  </div>
